---

---

<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

  <h2>About Me</h2>

  <h2>And my new site</h2>

  <p>This is way more fun to use HTML, I feel like a kid again ;)</p>
</body>
